name: Publish

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ${{ vars.LINUX }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ vars.DOTNET_VERSION }}
      - name: deploy
        run: |
          version=`git describe --abbrev=0 --tags` &&	
          sed -i s/9\.\[0-9]\.\[0-9]/$version/g Mailosaur/Mailosaur.csproj &&	
          sed -i s/9\.\[0-9]\.\[0-9]/$version/g Mailosaur/MailosaurClient.cs

          cd Mailosaur &&	
          dotnet pack &&	
          dotnet nuget push bin/Debug/Mailosaur.$version.nupkg -s https://www.nuget.org/ -k ${{ secrets.NUGET_KEY }}
      - name: Notify on Failure
        uses: skitionek/notify-microsoft-teams@master
        if: ${{ failure() }}
        with:
          webhook_url: ${{ secrets.TEAMS_BUILDS_WEBHOOK }}
          needs: ${{ toJson(needs) }}
          job: ${{ toJson(job) }}
          overwrite: "{ title: `${workflow} failed for ${repository.name}` }"
