name: Publish

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ${{ vars.LINUX }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ vars.DOTNET_VERSION }}
      - name: deploy
        run: |
          version=`git describe --abbrev=0 --tags` &&	
          sed -i s/9\.\[0-9]\.\[0-9]/$version/g Mailosaur/Mailosaur.csproj &&	
          sed -i s/9\.\[0-9]\.\[0-9]/$version/g Mailosaur/MailosaurClient.cs

          cd Mailosaur &&	
          dotnet pack -o nuget &&	
          dotnet nuget push nuget/Mailosaur.$version.nupkg -s https://www.nuget.org/ -k ${{ secrets.NUGET_KEY }}
